DateTimeHighRes/bin/Debug/DateTimeHighRes.exe
DateTimeHighRes/bin/Debug/DateTimeHighRes.pdb
DateTimeHighRes/obj/Debug/DateTimeHighRes.csproj.FileListAbsolute.txt
DateTimeHighRes/obj/Debug/DateTimeHighRes.csprojResolveAssemblyReference.cache
DateTimeHighRes/obj/Debug/DateTimeHighRes.pdb
DateTimeHighRes/obj/Debug/DateTimeHighRes.exe